
  <div class="logo"> <img class="logo" src="/images/logos/live5.png"></div>
    <div class="introducingTitle"> <img src="/images/logos/introducing.png"></div>
    <div class="newGameTitle"> <img src="/images/logos/aNewGame.png"></div>
    <div class="gameTitle"> <img src="/images/logos/slogan.png"></div>
    <a href="/makeYourChoice">
   <div class= "loginbutton">
      <button class="button" id="loginbutton"></button>
    </div>
  </a>