
<div class="logo"> <img class="logo" src="/images/logos/live5.png"></div>
<div class="luckyDipLogo"> <img class="luckyDipLogo" src="/images/logos/luckyDip.png"></div>
<br>

<div id="table1">
<table>
<tr>
<div class= "startDip">
      <input type="button" class="button" id="startDip" onclick="luckyDip()"></button>
    </div>
    <br>
<tr>
<th width="10%" id="lucky0" class="numberResults">?</th>
<th width="10%"id="lucky1" class="numberResults">?</th>
<th width="10%"id="lucky2" class="numberResults">?</th>
<th width="10%"id="lucky3" class="numberResults">?</th>
<th width="10%"id="lucky4" class="numberResults">?</th>
<th width="10%"id="lucky5" class="numberResults">?</th>
</tr>
</div>

<table id="table2">
<tr>
    <div class= "startLottery">
      <input type="button" class="button" id="startLottery" onclick="lotteryLuckyDip()"></button>
    </div>
    <br>
<tr>
<th width="10%" id="lotto0" class="numberResults">?</th>
<th width="10%"id="lotto1" class="numberResults">?</th>
<th width="10%"id="lotto2" class="numberResults">?</th>
<th width="10%"id="lotto3" class="numberResults">?</th>
<th width="10%"id="lotto4" class="numberResults">?</th>
<th width="10%"id="lotto5" class="numberResults">?</th>
</tr>
<table>

<div class="yourResults"> <img class="yourResults" src="/images/logos/results.png"></div>
<br>

<p id="result"></p>
<p id="points"></p>
<p id="prize"></p>

<a href="/luckyDip">
<div class= "resetGame">
    <button class="button" id="resetGame"></button>
</div>
</a>
<br>
<a href="/">
    <div class= "logoutbutton">
        <button class="button" id="logoutbutton"></button>
    </div>
</a>

