<div class="logo"> <img class="logo" src="/images/logos/live5.png"></div>

<div class="container">    
    <div class="pickAChoice"> <img class="pickAChoice" src="/images/logos/yourChoice.png"></div>
    <div class="enterTheCosmos"> <img class="enterTheCosmos" src="/images/logos/enterTheCosmos.png"></div>
    <div class="row">
    <div class="col">
    <a href="/spaceLottery">
        <div class= "yourChoice">
            <button class="button" id="yourChoice"></button>
        </div>
    </a>
    </div>
        <div class="col">
            <a href="/luckyDip">
                <div class= "luckyDipChoice">
                    <button class="button" id="luckyDipChoice"></button>
                </div>
            </a>
        </div>
    </div>
 </div>

 