
<br>
     <div class="logo"> <img class="logo" src="/images/logos/live5.png"></div>


<table id="table1">
<tr>
<td colspan=7><h3>Cosmic Space Lottery<h3></td>

<tr>
<th width="10%" id="lucky0">&nbsp</th>
<th width="10%"id="lucky1">&nbsp</th>
<th width="10%"id="lucky2">&nbsp</th>
<th width="10%"id="lucky3">&nbsp</th>
<th width="10%"id="lucky4">&nbsp</th>
<th width="10%"id="lucky5">&nbsp</th>

</tr>
<table id ="luckyDipTable">
<p />
<input type="button" value=" Lucky Dip " id="reload" onclick="luckyDip()">
<p />
<table id="table2">
<tr>
<td colspan=7><h3>Cosmic Space Lottery<h3></td>

<tr>
<th width="10%" id="lotto0">&nbsp</th>
<th width="10%"id="lotto1">&nbsp</th>
<th width="10%"id="lotto2">&nbsp</th>
<th width="10%"id="lotto3">&nbsp</th>
<th width="10%"id="lotto4">&nbsp</th>
<th width="10%"id="lotto5">&nbsp</th>

</tr>
<table>
<p />
<input type="button" value=" Find your magic numbers " id="reload" onclick="lottery()">
<p />

<p />
<input type="button" value=" Check results " id="reload" onclick="resultsYas(luckyDipArray, lottoArray)">
<p />

<p id="result"></p>
<p id="points"></p>
 
            <a href="/">
            <div class= "logoutbutton">
                <button class="button" id="logoutbutton"></button>
              </div>
              </a>


  